<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3.0 - 小马技术</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous"> 
</head>
<body>
    <div id="hello-vue" class="m-3 p-3 border border-success">
        <button class="btn btn-success" v-on:click="this.seen = !this.seen">今天的预定</button>
        <hr>
        <ol>
            <li v-for="todo in todos" v-if="seen">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <script>
        const HelloVueApp = {
            data() {
                return {
                    seen: false,
                    todos: [
                        { text: '吃饭' },
                        { text: '睡觉' },
                        { text: '打游戏' }
                    ]
                }
            },
        }
        Vue.createApp(HelloVueApp).mount('#hello-vue')
    </script>
</body>
</html>
